* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@keyframes rotation {
    0% { 
        background-position: 0 0; 
    } 
    100% { 
        background-position: 100% 0; 
    }
}

body {
    height: 100vh;
    background-image: url(../images/starry-night.png);
    animation: rotation 180s linear infinite;
}

#ground {
    width: 100%;
    height: 30vh;
    position: absolute;
    bottom: 0;       
    background-image: url(../images/grass.png);
}

#app {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
}

#rocket {
    position: absolute;
    bottom: 12vh;
    left: 50%;
    transform: translateX(-50%);
    width: 450px;
    height: auto;
    z-index: 2;
}

#fuel {
    position: absolute;
    bottom: 25vh;
    left: calc(50% + 150px);
    width: 100px;
    height: auto;
    z-index: 2;
    cursor: grab;
    transition: transform 0.05s linear;
}

#fuel:active {
  cursor: grabbing;
}

#dialog {
    position: absolute;
    bottom: 10vh;       
    left: 50%;         
    transform: translateX(-50%);
    width: 300px;      
    padding: 10px 15px; 
    background-color: rgb(0, 0, 0, 0.9);   
    border: 3px solid white;   
    border-radius: 5px;        
    color: white;        
    font-family: 'Courier New', Courier, monospace; 
    font-size: 18px;
    text-align: center;   
    z-index: 9999;           
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0;
  pointer-events: none;
  transition: opacity 2s;
  z-index: 9998;
}