* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@keyframes fallingStars {
    0% { 
        background-position: 0 0; 
    } 
    100% { 
        background-position: 0 100%; 
    }
}

body {
    height: 102vh;
    overflow: hidden;
    background-image: url(../images/space.png);
    animation: fallingStars 10s linear infinite;
}

#rocket {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 200px;
  height: auto;
  z-index: 1;
}