* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@keyframes rotation {
    0% { 
        background-position: 0 0; 
    } 
    100% { 
        background-position: 100% 0; 
    }
}

body {
    height: 100vh;
    background-image: url(../images/starry-night.png);
    animation: rotation 180s linear infinite;
}

#ground {
    width: 100%;
    height: 30vh;
    position: absolute;
    bottom: 0;       
    background-image: url(../images/grass.png);
}

#app {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
}

#rocket {
    position: absolute;
    bottom: 27vh;
    left: 50%;
    transform: translateX(-50%);
    width: 200px;
    height: auto;
    z-index: 2;
}

#fuel {
    position: absolute;
    bottom: 25vh;
    left: calc(50% + 150px);
    width: 100px;
    height: auto;
    z-index: 2;
    cursor: grab;
}