* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@keyframes fallingStars {
    0% { 
        background-position: 0 0; 
    } 
    100% { 
        background-position: 0 100%; 
    }
}

body {
    height: 102vh;
    overflow: hidden;
    background-image: url(../images/space.png);
    animation: fallingStars 10s linear infinite;
}

#rocket {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 200px;
  height: auto;
  z-index: 1;
}

#dialog {
  position: absolute;
  bottom: 10vh;
  left: 50%;
  transform: translateX(-50%);
  width: 300px;
  padding: 10px 15px;
  background-color: rgba(0, 0, 0, 0.9);
  border: 3px solid white;
  border-radius: 5px;
  color: white;
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;
  text-align: center;
  z-index: 2;
  opacity: 0;
  transition: opacity 2s ease-in;
}