* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@keyframes rotation {
    0% { 
        background-position: 0 0; 
    } 
    100% { 
        background-position: 100% 0; 
    }
}

body {
    height: 100vh;
    width: 102vw;
    overflow: hidden;
    background-image: url(../images/starry-night.png);
    animation: rotation 120s linear infinite;
}

#ground {
    width: 100%;
    height: 30vh;
    position: absolute;
    bottom: 0;       
    background-image: url(../images/grass.png);
}